body 
{
    width: 600px;
    background-color: #fae2b8;
    padding: 20px 20px 20px 20px;  /*top, right, bottom, left*/
}

h1
{
    border-top: 40;
    margin-top: 40;
    height: 40;
    font-size: 20px;
    text-shadow: 3px 3px 1px rgba(84, 84, 84, 0.224); /*x, y, blur*/
}

p
{
    font-family: "Italianno", serif, sans-serif;
    font-size: 20px;
    line-height: 0;
}

#addNum:hover
{
    color: rgb(255, 0, 0);
    width: 80px;
    border: 1px solid black;
}

@keyframes colorBreath
{
    0% {color: rgb(0, 0, 0);}
    50% {color: rgb(255, 0, 0);}
    95% {color: rgb(255, 153, 0);}
    100% {color: rgb(255, 153, 0);}
}
#yourName
{
    cursor: pointer;
    animation-name: colorBreath;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}